// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table_div{
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1
}

table{
    font-family: 'Nanum Gothic', sans-serif;
    width: 600px;
    .list_header{
        background-color: rgb(41, 41, 41);
        color: white;
        font-family: 'Lobster', cursive;
        font-weight: 100;
        padding: 7px 0;
        font-size: 20px;
        border-radius: 10px;
    }
    .list_title{
        text-align: center;
        width: 200px;
        padding: 5px 10px;
    }
    .list_content{
        border: 0px solid black;
        border-bottom-width: 0.5px;
        width: 400px;
        display: flex;
        flex: 1;
    }
    .content{
        padding: 5px 10px;
        flex: 0.8;
    }
    .list_modify{
        padding: 5px 0;
        flex: 0.2;
        text-align: center;
        :first-child{
            margin-right: 3px;
        }
    }
}

.index{
    text-align: center;
}

.index .button{
    font-family: 'Lobster', cursive;
    border-radius: 20px;
    padding: 5px 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

a{
    text-decoration: none;
    color: black;
}